html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-section {
  position: relative;
  height: 100vh;
  background: url(../img/aulas.jpeg)
    no-repeat center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.hero-section .container {
  position: relative;
  z-index: 1;
  height: 100%;
}

.social-icons a {
  font-size: 1.25rem;
}

.rounded-circle {
  object-fit: cover;
  height: 60px;
  width: 60px;
}

/* EFECTO ZOOM */
.scale-up {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scale-up:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}