html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero-title {
   text-align: center;
}

.mvv-title {
  text-align: center;
  margin-bottom: 50px;
}

.sobre-nosotros {
  margin-bottom: 70px;
  text-align: justify;
}

.hero-section .container {
  text-align: justify;
  margin-bottom: 50px;
}

.img-fluid {
 margin-bottom: 30px;
}

/* EFECTO ZOOM */
.scale-up {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scale-up:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}